!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Hello Discuss!
    %link{rel: "stylesheet", href: "#{static_path(@conn, "/css/app.css")}"}
    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    :javascript
      if (#{@conn.assigns.user }) {
        window.userToken = "#{Phoenix.Token.sign(Discuss.Endpoint, "key", @conn.assigns.user.id)}"
      }


  %body
    %nav.light-blue
      .nav-wrapper.container
        = link "Discussions", to: topic_path(@conn, :index), class: "brand-logo"
        %ul.right
          - if @conn.assigns[:user] do
            %li
              = link "Sign out", to: auth_path(@conn, :signout)

          - else
            %li
              = link "Sign in with Github", to: auth_path(@conn, :request, "github")

    .container
      %p.alert.alert-info{role: "alert"}= get_flash(@conn, :info)
      %p.alert.alert-danger{role: "alert"}= get_flash(@conn, :error)

      %main{role: "main"}= render @view_module, @view_template, assigns

    %script{src: "#{static_path(@conn, "/js/app.js")}"}
    %script{type: "text/javascript", src: "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
